body,html{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 900;  
    font-family: "lato",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box;
}
.logo img{
    width: 90px;
    height: 90px;
    padding: 30px;
    float: left;
}

a:hover{
    opacity: 0.5;
}
ul{
    float: right;
    list-style: none;
}
li{
    display:inline-block;
}
a{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    display: inline-block;
    text-decoration: none;
    padding:25px;
    color:#000;
}
.clearfix::after,::before{
    content: "";
    clear: both;
    display: table;
}
.container{
    max-width: 100%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.item img{
width: 25vw;
height: auto;
margin:10px;
}
.footer{
    font-size: 14px;
    padding: 40px;
    text-align: center;
}